@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
@import "tailwindcss";

@theme inline {
  --font-roboto_condensed: 'Roboto Condensed', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-ruso: 'Russo One', sans-serif;
}

.clip-diagonal {
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
}


.bg-hero-custom {
  background-image: url('/images/background/Bg-Graphic.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


 @keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 15s linear infinite;
}

